*{
    box-sizing: border-box;
    margin: 0;
  padding: 0;
  }
body{
    background: rgb(81, 1, 1);
    color: white;
}

nav{
    background: black;
    padding: 20px;
}
header{
    margin-bottom: 30px;
    font-size: larger;
}

.logo{
font-size: 30px;
font-family: monospace;
font-weight: 900;
}
nav a{
text-decoration: none;
padding: 20px;
color: white;
}
nav a:hover{
    color: red;
}

.nav_wrapper{
    float: right; 
}


.container{
    background: rgba(166, 2, 2, 0.538);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 254, 254);
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    border-bottom-right-radius:100px ;
    padding: 60px;
    font-family: monospace;
    font-size: 20px;
    
}
input{
    width: 40px;
    font-size: medium;
    font-weight: 700;
}
button{
    font-family: monospace;
    font-size: 20px;
    margin-top: 30px;
    width: 150px;
    border-radius: 30px;
}

.output{
    padding-top: 30px;
    
}

button:hover{
    background-color: rgb(255, 0, 0);
}

/*responsiveness*/



@media only screen and (max-width: 600px){


.container{
width: 350px;
font-size: 10px;
    }

    input{
        width: 20px;
        font-size: xx-small;
        font-weight: 300;
    }

    .output{
        padding-top: 5px;
        
    }
    button{
        width: 80px;
        font-size: 12px;
    }
}






